<div class="about-main">
  <h2>リファラルとは</h2>
  <h2>
    リファラル採用サービスです。
  </h2>
  <p>
    一緒に働きたい人と、働ける。そんな職場を、私たちは、あなたと一緒に作っていきたいです。
  </p>
  <p>
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションすることもできます。
  </p>
</div>